
.conteiner
{
    height:200vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
    
    .main
    {
        
       .main_block
        
            {
                
                
                
                .main_blocks
                {
                     display: flex;
                     flex-direction: row; 
                     justify-content: space-between;
                     padding-top: 50px;
                     padding-left: 246px;
                     padding-right: 100px;
                     padding-bottom: 46px;
                     
                     @media(max-width:1284px)
                     {
                        display: flex;
                        flex-direction: row; 
                        padding-right: 100px;
                        margin-top: 100px;
                        
                        img
                        {
                            width: 318px;
                            height: 244px;
                        }
                     }
                }
            }
    }
    .middle_block
    {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        margin-bottom: 200px;
        @media (max-width:1284px)
        {
            display: flex;
            flex-direction: column;
            align-items:center;
        }
        .middle_blocks
        {
            padding-left: 246px;
            padding-right: 123px;
            @media (max-width:1284px)
            {
            padding-top:35px;
		img
            {
                width:139px;
                height:93px;
            }
            }
            .info_block
            {
                display: flex;
                flex-direction: column;
                background-color:black;
                @media (max-width:1284px)
                {
                    display: flex;
                    flex-direction: column;
                    background-color: black;
                    height: 80px;
                }
                .btn
                {
                    font-size: 'Roboto',sans-serif;
                    width: 165px;
                    height:30px;
                    background-color:rgb(196,196,196);
                    border:none;
                    border-radius: 5px;
                    color:rgb(0, 0, 0);
                    margin-top: 0;
                    margin-left:5px ;
                    margin-right:5px ;
                    margin-bottom: 20px;
                    @media(max-width:1284px)
                    {
                        font-size: 8px;
                        height:10px;
                        width: 90px;
                       height: 13px;
                      margin-left: 30px;
                        
                    }
                }
            }

        }
    }
    .title2
    {
        margin-left: 246px;
        font-size: 18px;
    }
    .bottom_block
    {
        display:flex;
        flex-direction: row;
        background-color: rgb(196,196,196);
        @media(max-width:1284px)
        {
            background-color:white;
        }            
        
        .bottom_block_blocks
        {
            margin-left: 246px;
            padding-top:50px;
            
        }

    }
}
